.Footer {
  font-family: "Arial Narrow";
  background-color: #2565FA ;
}

div h4 {
  color: rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  
}

.Logo{
width: 100px;
height: 100px;
}