.Logo{
  height: 130px;
  width: 150px;
}

.Logo2{
  height: 95px;
  width: 200px;
}

.Header{
background-color: #414141;
font-family: 'Open Sans', sans-serif;
}

.Frase{
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
}
.btn{
margin-left: -4 ;
}
